* {
  text-decoration: none !important;
  list-style: none !important;
}

.nav-links li a {
  color: rgb(114, 112, 112) !important;
  font-weight: 500;
  font-size: 1.2rem;
}

.bg-secondary-transparent {
  background-color: rgba(108, 117, 125, 0.5);
  background-image: linear-gradient(
    to left,
    rgba(108, 117, 125, 0.8),
    rgba(108, 117, 125, 0)
  );
}

body {
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}
.footer {
  margin-top: auto;
}

nav .logo h3 {
  color: #5c636a;
  font-size: 2.4rem;
  font-weight: 800;
}
.product {
  transition: 0.54s all;
}

.product .heart-icon {
  color: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.product:hover {
  transform: scale(1.05);
  border: 1px solid rgb(128, 125, 125) !important;
}

.bottom-nav .bottom-nav-links {
  width: 1.8rem;
  color: #5c636a;
}
.bottom-nav .bottom-nav-label {
  font-size: 0.7rem;
  color: #5c636a;
}

@media screen and (max-width: 770px) {
  body {
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .top-nav {
    display: none;
  }
  .bottom-nav {
    display: block !important;
  }
  .logo h1 {
    font-size: 3rem !important;
  }

  .carousel {
    width: 100% !important;
  }
  body {
    padding-bottom: 140px;
  }
  .carousel {
    display: none !important;
  }
}
@media screen and (min-width: 770px) {
  .bottom-nav {
    display: none !important;
  }
  .carousel {
    width: 65% !important;
  }
  .bg-secondary-transparent {
    display: none !important;
  }
  .small-header {
    display: none !important;
  }
}
